@font-face {
  font-family: "iconfont"; /* Project id 2861995 */
  src: url('iconfont.woff2?t=1634087478675') format('woff2'),
       url('iconfont.woff?t=1634087478675') format('woff'),
       url('iconfont.ttf?t=1634087478675') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kongxinduigou1:before {
  content: "\ebe5";
}

.icon-kongxinduigou:before {
  content: "\e621";
}

.icon-zuo:before {
  content: "\e61a";
}

.icon-shouhuodizhi:before {
  content: "\eb26";
}

.icon-pingjia:before {
  content: "\e625";
}

.icon-wodeyouhuiquan:before {
  content: "\e65a";
}

.icon-wodeshoucang:before {
  content: "\e660";
}

.icon-daishouhuo:before {
  content: "\e607";
}

.icon-daifukuan:before {
  content: "\e657";
}

.icon-tuikuan:before {
  content: "\e647";
}

.icon-aixin:before {
  content: "\e626";
}

.icon-dingzhi:before {
  content: "\e60e";
}

.icon-fenlei:before {
  content: "\e628";
}

.icon-fenlei1:before {
  content: "\e638";
}

.icon-kuaidi:before {
  content: "\e629";
}

.icon-wode:before {
  content: "\e828";
}

.icon-you:before {
  content: "\e62f";
}

.icon-home:before {
  content: "\e6f1";
}

.icon-zhengpin:before {
  content: "\e726";
}

.icon-fenlei2:before {
  content: "\e662";
}

.icon-aixin--xian:before {
  content: "\e895";
}

