<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model='keywords'>

        <table border="1">
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>单价</th>
              </tr>
              <tr v-for="item in searchData">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{ toCNY(item.price) }}</td>
              </tr>
        </table>
    </div>
    <script>
        const app = new Vue({
            el:'#app',
            data:{
                fruit: [
                    { id: 1, name: '陕西苹果', price: 6 },
                    { id: 1, name: '日本苹果', price: 9 },
                    { id: 1, name: '越南香蕉', price: 3 },
                    { id: 1, name: '海南香蕉', price: 4 },
                ],
                keywords:''
            },
            computed:{
                searchData(){
                    return this.searchData = this.fruit.filter(item =>{
                        return item.name.includes(this.keywords);
                })
            }
            },
            methods:{
                toCNY(val){
                    return '￥' + val.toFixed(2)
                }
            }
        })
    </script>
</body>
</html>